# SECRETS FILE, DO NOT COMMIT ANY SECRETS TO GIT!
# JUST LEAVE THE KEYS WITH EMPTY VALUES, AND FILL THEM IN LOCALLY

# FAOSTAT API
FAOSTAT_UNAME = ""
FAOSTAT_PWD = ""

# SPOONACULAR API
SPOON_KEY=""

#USDA API
USDA_KEY=""

# MINIO SERVER
MINIO_UNAME = ""
MINIO_PW = ""

AIRFLOW_UID=1000